:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #FAFAFA;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer base {
  body {
    background-color: #FAFAFA;
  }
  
  html {
    background-color: #FAFAFA;
  }
  
  #root {
    background-color: #FAFAFA;
    min-height: 100vh;
  }
}



